# cloud deployment  
COMPOSE_PROJECT_NAME=open-dpp-local-dev

# Common
OPEN_DPP_PORT="3000"
OPEN_DPP_URL="http://localhost"
OPEN_DPP_SERVICE_TOKEN="change-to-a-secret-key"
OPEN_DPP_AAS_TOKEN="change-to-a-secret-key"
# MongoDB
OPEN_DPP_MONGODB_PORT="20005"
OPEN_DPP_MONGODB_HOST="localhost"
OPEN_DPP_MONGODB_USER="admin"
OPEN_DPP_MONGODB_PASSWORD="change-to-secure-mongo-password"
OPEN_DPP_MONGODB_DATABASE="management"
# AI
OPEN_DPP_MISTRAL_API_KEY="your-mistral-key"
OPEN_DPP_OLLAMA_URL="http://ollama-url"
OPEN_DPP_MCP_URL="http://localhost:3002/sse"
OPEN_DPP_MCP_PORT=3001
# Keycloak
OPEN_DPP_KEYCLOAK_URL="http://localhost:20001"
OPEN_DPP_KEYCLOAK_REALM="open-dpp"
OPEN_DPP_KEYCLOAK_USER="admin"
OPEN_DPP_KEYCLOAK_PASSWORD="secure-keycloak-password"
OPEN_DPP_KEYCLOAK_JWT_AUDIENCE="account"
# S3
OPEN_DPP_S3_ENDPOINT="localhost"
OPEN_DPP_S3_PORT="9000"
OPEN_DPP_S3_SSL="false"
OPEN_DPP_S3_ACCESS_KEY="minioadmin"
OPEN_DPP_S3_SECRET_KEY="minioadmin"
OPEN_DPP_S3_DEFAULT_BUCKET="dpp"
OPEN_DPP_S3_PROFILE_PICTURE_BUCKET="profile-pictures"
# ClamAV
OPEN_DPP_CLAMAV_URL="http://localhost"
OPEN_DPP_CLAMAV_PORT="20006"

#Frontend
VITE_API_ROOT="http://localhost:3000/api"
VITE_KEYCLOAK_ROOT="http://localhost:20001"