# compiled output
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.dev

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

api-db
api-mongo-config
api-mongo-db
auth-db
.turbo
apps/main/dist
apps/client/dist
apps/mcp/dist
packages/api-client/dist
packages/auth/dist
packages/config-eslint/dist
packages/env/dist
packages/exception/dist
packages/testing/dist
apps/main/node_modules
apps/client/node_modules
apps/mcp/node_modules
packages/testing/node_modules
packages/auth/node_modules
packages/exception/node_modules
packages/config-eslint/node_modules
packages/env/node_modules
packages/permission/node_modules
packages/permission/dist