auth.open-dpp.localhost:20080 {
	reverse_proxy keycloak:8080
	tls internal
}

admin.open-dpp.localhost:20080 {
	reverse_proxy admin:80
	tls internal
}

presentation.open-dpp.localhost:20080 {
	reverse_proxy presentation:80
	tls internal
}

api.open-dpp.localhost:20080 {
	reverse_proxy open-dpp:3000
	tls internal
}

mail.open-dpp.localhost:20080 {
	reverse_proxy mailpit:8025
	tls internal
}

marketplace.open-dpp.localhost:20080 {
	reverse_proxy open-dpp-marketplace:3000
	tls internal
}

media.open-dpp.localhost:20080 {
	reverse_proxy open-dpp-media:3000
	tls internal
}

agent-server.open-dpp.localhost:20080 {
	reverse_proxy agent-server:3000
	tls internal
}

