auth.open-dpp.localhost:20080 {
	reverse_proxy keycloak:8080
	tls internal
}

open-dpp.localhost:20080 {
	reverse_proxy open-dpp:3000
	tls internal
}

mail.open-dpp.localhost:20080 {
	reverse_proxy mailpit:8025
	tls internal
}

