{"openapi":"3.1.0","info":{"title":"open-dpp API","version":"v2"},"servers":[{"url":"https://cloud.open-dpp.de/api/v2","description":"Production server"},{"url":"https://demo.open-dpp.de/api/v2","description":"Test server"},{"url":"http://localhost:3000/api/v2","description":"Local development server"}],"paths":{"/passports/{id}/shells":{"get":{"tags":["passports"],"summary":"Returns all Asset Administration Shells","security":[{"apiKeyAuth":[]}],"parameters":[{"in":"path","name":"id","schema":{"description":"The id","example":"958b741c-c2ef-4366-a134-fafd30210ed4","type":"string"},"required":true,"description":"The id"},{"in":"query","name":"limit","schema":{"description":"The maximum number of elements in the response array","example":10,"type":"number"},"description":"The maximum number of elements in the response array"},{"in":"query","name":"cursor","schema":{"description":"A server-generated identifier retrieved from pagingMetadata that specifies from which position the result listing should continue","type":"string"},"description":"A server-generated identifier retrieved from pagingMetadata that specifies from which position the result listing should continue"},{"$ref":"#/components/parameters/OrganizationIdHeader"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssetAdministrationShells"}}}}}}},"/passports/{id}/shells/{aasId}":{"patch":{"tags":["passports"],"summary":"Modifies a Asset Administration Shell with specified id","security":[{"apiKeyAuth":[]}],"parameters":[{"in":"path","name":"id","schema":{"description":"The id","example":"958b741c-c2ef-4366-a134-fafd30210ed4","type":"string"},"required":true,"description":"The id"},{"in":"path","name":"aasId","schema":{"description":"The asset administration shell id","example":"032a7e62-29e2-4530-8f4b-765e32514a56","type":"string"},"required":true,"description":"The asset administration shell id"},{"$ref":"#/components/parameters/OrganizationIdHeader"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"displayName":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"]}},"description":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"]}},"assetInformation":{"type":"object","properties":{"defaultThumbnails":{"default":[],"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"contentType":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["path"]}}}},"security":{"type":"object","properties":{"localAccessControl":{"type":"object","properties":{"accessPermissionRules":{"type":"array","items":{"type":"object","properties":{"targetSubjectAttributes":{"type":"object","properties":{"subjectAttribute":{"type":"array","items":{"type":"object","properties":{"category":{"anyOf":[{"type":"string"},{"type":"null"}]},"idShort":{"type":"string"},"displayName":{"default":[],"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"]}},"description":{"default":[],"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"]}},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema0"},{"type":"null"}]},"supplementalSemanticIds":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema0"}},"qualifiers":{"default":[],"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"valueType":{"type":"string"},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema0"},{"type":"null"}]},"supplementalSemanticIds":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema0"}},"kind":{"type":"string","enum":["ValueQualifier","ConceptQualifier","TemplateQualifier"]},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"valueId":{"anyOf":[{"$ref":"#/components/schemas/__schema0"},{"type":"null"}]}},"required":["type","valueType","kind"]}},"embeddedDataSpecifications":{"default":[],"type":"array","items":{"type":"object","properties":{"dataSpecification":{"$ref":"#/components/schemas/__schema0"}},"required":["dataSpecification"]}},"valueType":{"type":"string"},"extensions":{"default":[],"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema0"},{"type":"null"}]},"supplementalSemanticIds":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema0"}},"valueType":{"anyOf":[{"type":"string"},{"type":"null"}]},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"refersTo":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema0"}}},"required":["name"]}},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"valueId":{"anyOf":[{"$ref":"#/components/schemas/__schema0"},{"type":"null"}]}},"required":["idShort","valueType"]}}},"required":["subjectAttribute"]},"permissionsPerObject":{"type":"array","items":{"type":"object","properties":{"object":{"type":"object","properties":{"category":{"anyOf":[{"type":"string"},{"type":"null"}]},"idShort":{"type":"string"},"displayName":{"default":[],"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"]}},"description":{"default":[],"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"]}},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema0"},{"type":"null"}]},"supplementalSemanticIds":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema0"}},"qualifiers":{"default":[],"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"valueType":{"type":"string"},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema0"},{"type":"null"}]},"supplementalSemanticIds":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema0"}},"kind":{"type":"string","enum":["ValueQualifier","ConceptQualifier","TemplateQualifier"]},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"valueId":{"anyOf":[{"$ref":"#/components/schemas/__schema0"},{"type":"null"}]}},"required":["type","valueType","kind"]}},"embeddedDataSpecifications":{"default":[],"type":"array","items":{"type":"object","properties":{"dataSpecification":{"$ref":"#/components/schemas/__schema0"}},"required":["dataSpecification"]}},"extensions":{"default":[],"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema0"},{"type":"null"}]},"supplementalSemanticIds":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema0"}},"valueType":{"anyOf":[{"type":"string"},{"type":"null"}]},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"refersTo":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema0"}}},"required":["name"]}},"value":{"anyOf":[{"$ref":"#/components/schemas/__schema0"},{"type":"null"}]}},"required":["idShort"]},"permissions":{"type":"array","items":{"type":"object","properties":{"permission":{"type":"string","enum":["Create","Read","Edit","Delete"]},"kindOfPermission":{"type":"string","enum":["Allow"]}},"required":["permission","kindOfPermission"]}}},"required":["object","permissions"]}}},"required":["targetSubjectAttributes","permissionsPerObject"]}}},"required":["accessPermissionRules"]}},"required":["localAccessControl"]}}}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"Id of the AAS"},"assetInformation":{"type":"object","properties":{"assetKind":{"type":"string","enum":["Type","Instance"]},"globalAssetId":{"anyOf":[{"type":"string"},{"type":"null"}]},"specificAssetIds":{"default":[],"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema4"},{"type":"null"}]},"supplementalSemanticIds":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema4"}},"externalSubjectId":{"anyOf":[{"$ref":"#/components/schemas/__schema4"},{"type":"null"}]}},"required":["name","value","supplementalSemanticIds"],"additionalProperties":false}},"assetType":{"anyOf":[{"type":"string"},{"type":"null"}]},"defaultThumbnails":{"default":[],"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"contentType":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["path"],"additionalProperties":false}}},"required":["assetKind","specificAssetIds","defaultThumbnails"],"additionalProperties":false},"extensions":{"default":[],"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema4"},{"type":"null"}]},"supplementalSemanticIds":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema4"}},"valueType":{"anyOf":[{"type":"string","enum":["AnyUri","Base64Binary","Boolean","Byte","Date","DateTime","Decimal","Double","Duration","Float","GDay","GMonth","GMonthDay","GYear","GYearMonth","HexBinary","Int","Integer","Long","NegativeInteger","NonNegativeInteger","NonPositiveInteger","PositiveInteger","Short","String","Time","UnsignedByte","UnsignedInt","UnsignedLong","UnsignedShort"]},{"type":"null"}]},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"refersTo":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema4"}}},"required":["name","supplementalSemanticIds","refersTo"],"additionalProperties":false}},"category":{"anyOf":[{"type":"string"},{"type":"null"}]},"idShort":{"anyOf":[{"type":"string"},{"type":"null"}]},"displayName":{"default":[],"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"],"additionalProperties":false}},"description":{"default":[],"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"],"additionalProperties":false}},"administration":{"anyOf":[{"type":"object","properties":{"version":{"type":"string"},"revision":{"type":"string"}},"required":["version","revision"],"additionalProperties":false},{"type":"null"}]},"embeddedDataSpecifications":{"default":[],"type":"array","items":{"type":"object","properties":{"dataSpecification":{"$ref":"#/components/schemas/__schema4"}},"required":["dataSpecification"],"additionalProperties":false}},"derivedFrom":{"anyOf":[{"type":"object","properties":{"path":{"type":"string"},"contentType":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["path"],"additionalProperties":false},{"type":"null"}]},"submodels":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema4"}},"security":{"type":"object","properties":{"localAccessControl":{"type":"object","properties":{"accessPermissionRules":{"type":"array","items":{"type":"object","properties":{"targetSubjectAttributes":{"type":"object","properties":{"subjectAttribute":{"type":"array","items":{"type":"object","properties":{"category":{"anyOf":[{"type":"string"},{"type":"null"}]},"idShort":{"type":"string"},"displayName":{"default":[],"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"],"additionalProperties":false}},"description":{"default":[],"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"],"additionalProperties":false}},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema4"},{"type":"null"}]},"supplementalSemanticIds":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema4"}},"qualifiers":{"default":[],"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"valueType":{"type":"string","enum":["AnyUri","Base64Binary","Boolean","Byte","Date","DateTime","Decimal","Double","Duration","Float","GDay","GMonth","GMonthDay","GYear","GYearMonth","HexBinary","Int","Integer","Long","NegativeInteger","NonNegativeInteger","NonPositiveInteger","PositiveInteger","Short","String","Time","UnsignedByte","UnsignedInt","UnsignedLong","UnsignedShort"]},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema4"},{"type":"null"}]},"supplementalSemanticIds":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema4"}},"kind":{"type":"string","enum":["ValueQualifier","ConceptQualifier","TemplateQualifier"]},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"valueId":{"anyOf":[{"$ref":"#/components/schemas/__schema4"},{"type":"null"}]}},"required":["type","valueType","supplementalSemanticIds","kind"],"additionalProperties":false}},"embeddedDataSpecifications":{"default":[],"type":"array","items":{"type":"object","properties":{"dataSpecification":{"$ref":"#/components/schemas/__schema4"}},"required":["dataSpecification"],"additionalProperties":false}},"valueType":{"type":"string","enum":["AnyUri","Base64Binary","Boolean","Byte","Date","DateTime","Decimal","Double","Duration","Float","GDay","GMonth","GMonthDay","GYear","GYearMonth","HexBinary","Int","Integer","Long","NegativeInteger","NonNegativeInteger","NonPositiveInteger","PositiveInteger","Short","String","Time","UnsignedByte","UnsignedInt","UnsignedLong","UnsignedShort"]},"extensions":{"default":[],"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema4"},{"type":"null"}]},"supplementalSemanticIds":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema4"}},"valueType":{"anyOf":[{"type":"string","enum":["AnyUri","Base64Binary","Boolean","Byte","Date","DateTime","Decimal","Double","Duration","Float","GDay","GMonth","GMonthDay","GYear","GYearMonth","HexBinary","Int","Integer","Long","NegativeInteger","NonNegativeInteger","NonPositiveInteger","PositiveInteger","Short","String","Time","UnsignedByte","UnsignedInt","UnsignedLong","UnsignedShort"]},{"type":"null"}]},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"refersTo":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema4"}}},"required":["name","supplementalSemanticIds","refersTo"],"additionalProperties":false}},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"valueId":{"anyOf":[{"$ref":"#/components/schemas/__schema4"},{"type":"null"}]}},"required":["idShort","displayName","description","supplementalSemanticIds","qualifiers","embeddedDataSpecifications","valueType","extensions"],"additionalProperties":false}}},"required":["subjectAttribute"],"additionalProperties":false},"permissionsPerObject":{"type":"array","items":{"type":"object","properties":{"object":{"type":"object","properties":{"category":{"anyOf":[{"type":"string"},{"type":"null"}]},"idShort":{"type":"string"},"displayName":{"default":[],"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"],"additionalProperties":false}},"description":{"default":[],"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"],"additionalProperties":false}},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema4"},{"type":"null"}]},"supplementalSemanticIds":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema4"}},"qualifiers":{"default":[],"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"valueType":{"type":"string","enum":["AnyUri","Base64Binary","Boolean","Byte","Date","DateTime","Decimal","Double","Duration","Float","GDay","GMonth","GMonthDay","GYear","GYearMonth","HexBinary","Int","Integer","Long","NegativeInteger","NonNegativeInteger","NonPositiveInteger","PositiveInteger","Short","String","Time","UnsignedByte","UnsignedInt","UnsignedLong","UnsignedShort"]},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema4"},{"type":"null"}]},"supplementalSemanticIds":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema4"}},"kind":{"type":"string","enum":["ValueQualifier","ConceptQualifier","TemplateQualifier"]},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"valueId":{"anyOf":[{"$ref":"#/components/schemas/__schema4"},{"type":"null"}]}},"required":["type","valueType","supplementalSemanticIds","kind"],"additionalProperties":false}},"embeddedDataSpecifications":{"default":[],"type":"array","items":{"type":"object","properties":{"dataSpecification":{"$ref":"#/components/schemas/__schema4"}},"required":["dataSpecification"],"additionalProperties":false}},"extensions":{"default":[],"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema4"},{"type":"null"}]},"supplementalSemanticIds":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema4"}},"valueType":{"anyOf":[{"type":"string","enum":["AnyUri","Base64Binary","Boolean","Byte","Date","DateTime","Decimal","Double","Duration","Float","GDay","GMonth","GMonthDay","GYear","GYearMonth","HexBinary","Int","Integer","Long","NegativeInteger","NonNegativeInteger","NonPositiveInteger","PositiveInteger","Short","String","Time","UnsignedByte","UnsignedInt","UnsignedLong","UnsignedShort"]},{"type":"null"}]},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"refersTo":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema4"}}},"required":["name","supplementalSemanticIds","refersTo"],"additionalProperties":false}},"value":{"anyOf":[{"$ref":"#/components/schemas/__schema4"},{"type":"null"}]}},"required":["idShort","displayName","description","supplementalSemanticIds","qualifiers","embeddedDataSpecifications","extensions"],"additionalProperties":false},"permissions":{"type":"array","items":{"type":"object","properties":{"permission":{"type":"string","enum":["Create","Read","Edit","Delete"]},"kindOfPermission":{"type":"string","enum":["Allow"]}},"required":["permission","kindOfPermission"],"additionalProperties":false}}},"required":["object","permissions"],"additionalProperties":false}}},"required":["targetSubjectAttributes","permissionsPerObject"],"additionalProperties":false}}},"required":["accessPermissionRules"],"additionalProperties":false}},"required":["localAccessControl"],"additionalProperties":false}},"required":["id","assetInformation","extensions","displayName","description","embeddedDataSpecifications","submodels","security"],"additionalProperties":false}}}}}}},"/passports/{id}/submodels":{"get":{"tags":["passports"],"summary":"Returns all Submodels of the passports","security":[{"apiKeyAuth":[]}],"parameters":[{"in":"path","name":"id","schema":{"description":"The id","example":"958b741c-c2ef-4366-a134-fafd30210ed4","type":"string"},"required":true,"description":"The id"},{"in":"query","name":"limit","schema":{"description":"The maximum number of elements in the response array","example":10,"type":"number"},"description":"The maximum number of elements in the response array"},{"in":"query","name":"cursor","schema":{"description":"A server-generated identifier retrieved from pagingMetadata that specifies from which position the result listing should continue","type":"string"},"description":"A server-generated identifier retrieved from pagingMetadata that specifies from which position the result listing should continue"},{"$ref":"#/components/parameters/OrganizationIdHeader"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Submodels"}}}}}},"post":{"operationId":"createSubmodel","tags":["passports"],"summary":"Creates submodel for passport","security":[{"apiKeyAuth":[]}],"parameters":[{"in":"path","name":"id","schema":{"description":"The id","example":"958b741c-c2ef-4366-a134-fafd30210ed4","type":"string"},"required":true,"description":"The id"},{"$ref":"#/components/parameters/OrganizationIdHeader"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"category":{"anyOf":[{"type":"string"},{"type":"null"}]},"idShort":{"type":"string"},"displayName":{"default":[],"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"]}},"description":{"default":[],"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"]}},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema0"},{"type":"null"}]},"supplementalSemanticIds":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema0"}},"qualifiers":{"default":[],"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"valueType":{"type":"string"},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema0"},{"type":"null"}]},"supplementalSemanticIds":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema0"}},"kind":{"type":"string","enum":["ValueQualifier","ConceptQualifier","TemplateQualifier"]},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"valueId":{"anyOf":[{"$ref":"#/components/schemas/__schema0"},{"type":"null"}]}},"required":["type","valueType","kind"]}},"embeddedDataSpecifications":{"default":[],"type":"array","items":{"type":"object","properties":{"dataSpecification":{"$ref":"#/components/schemas/__schema0"}},"required":["dataSpecification"]}},"id":{"default":"37270c2f-2b08-4e30-bfaf-a0bc3aca5085","type":"string"},"extensions":{"default":[],"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema0"},{"type":"null"}]},"supplementalSemanticIds":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema0"}},"valueType":{"anyOf":[{"type":"string"},{"type":"null"}]},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"refersTo":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema0"}}},"required":["name"]}},"administration":{"anyOf":[{"type":"object","properties":{"version":{"type":"string"},"revision":{"type":"string"}},"required":["version","revision"]},{"type":"null"}]},"kind":{"anyOf":[{"type":"string","enum":["Template","Instance"]},{"type":"null"}]},"submodelElements":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/SubmodelElement"}}},"required":["idShort"]}}}},"responses":{"201":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Submodel"}}}}}}},"/passports/{id}/submodels/{submodelId}":{"get":{"tags":["passports"],"summary":"Returns Submodel by id","security":[{"apiKeyAuth":[]}],"parameters":[{"in":"path","name":"id","schema":{"description":"The id","example":"958b741c-c2ef-4366-a134-fafd30210ed4","type":"string"},"required":true,"description":"The id"},{"in":"path","name":"submodelId","schema":{"description":"The submodel id","example":"032a7e62-29e2-4530-8f4b-765e32514a56","type":"string"},"required":true,"description":"The submodel id"},{"$ref":"#/components/parameters/OrganizationIdHeader"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Submodel"}}}}}},"patch":{"operationId":"patchSubmodel","tags":["passports"],"summary":"Modify submodel with id","security":[{"apiKeyAuth":[]}],"parameters":[{"in":"path","name":"id","schema":{"description":"The id","example":"958b741c-c2ef-4366-a134-fafd30210ed4","type":"string"},"required":true,"description":"The id"},{"in":"path","name":"submodelId","schema":{"description":"The submodel id","example":"032a7e62-29e2-4530-8f4b-765e32514a56","type":"string"},"required":true,"description":"The submodel id"},{"$ref":"#/components/parameters/OrganizationIdHeader"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"displayName":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"]}},"description":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"]}},"idShort":{"type":"string"}},"required":["idShort"]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Submodel"}}}}}},"delete":{"tags":["passports"],"summary":"Deletes Submodel by id","security":[{"apiKeyAuth":[]}],"parameters":[{"in":"path","name":"id","schema":{"description":"The id","example":"958b741c-c2ef-4366-a134-fafd30210ed4","type":"string"},"required":true,"description":"The id"},{"in":"path","name":"submodelId","schema":{"description":"The submodel id","example":"032a7e62-29e2-4530-8f4b-765e32514a56","type":"string"},"required":true,"description":"The submodel id"},{"$ref":"#/components/parameters/OrganizationIdHeader"}],"responses":{"204":{}}}},"/passports/{id}/submodels/{submodelId}/$value":{"patch":{"operationId":"patchValueOfSubmodel","tags":["passports"],"summary":"Modify value of submodel with specified id","security":[{"apiKeyAuth":[]}],"parameters":[{"in":"path","name":"id","schema":{"description":"The id","example":"958b741c-c2ef-4366-a134-fafd30210ed4","type":"string"},"required":true,"description":"The id"},{"in":"path","name":"submodelId","schema":{"description":"The submodel id","example":"032a7e62-29e2-4530-8f4b-765e32514a56","type":"string"},"required":true,"description":"The submodel id"},{"$ref":"#/components/parameters/OrganizationIdHeader"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/__schema1"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Submodel"}}}}}},"get":{"tags":["passports"],"summary":"Returns Submodel value representation","security":[{"apiKeyAuth":[]}],"parameters":[{"in":"path","name":"id","schema":{"description":"The id","example":"958b741c-c2ef-4366-a134-fafd30210ed4","type":"string"},"required":true,"description":"The id"},{"in":"path","name":"submodelId","schema":{"description":"The submodel id","example":"032a7e62-29e2-4530-8f4b-765e32514a56","type":"string"},"required":true,"description":"The submodel id"},{"$ref":"#/components/parameters/OrganizationIdHeader"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/__schema5"}}}}}}},"/passports/{id}/submodels/{submodelId}/submodel-elements":{"get":{"tags":["passports"],"summary":"Returns all Submodel Elements of the given Submodel","security":[{"apiKeyAuth":[]}],"parameters":[{"in":"path","name":"id","schema":{"description":"The id","example":"958b741c-c2ef-4366-a134-fafd30210ed4","type":"string"},"required":true,"description":"The id"},{"in":"path","name":"submodelId","schema":{"description":"The submodel id","example":"032a7e62-29e2-4530-8f4b-765e32514a56","type":"string"},"required":true,"description":"The submodel id"},{"in":"query","name":"limit","schema":{"description":"The maximum number of elements in the response array","example":10,"type":"number"},"description":"The maximum number of elements in the response array"},{"in":"query","name":"cursor","schema":{"description":"A server-generated identifier retrieved from pagingMetadata that specifies from which position the result listing should continue","type":"string"},"description":"A server-generated identifier retrieved from pagingMetadata that specifies from which position the result listing should continue"},{"$ref":"#/components/parameters/OrganizationIdHeader"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmodelElements"}}}}}},"post":{"tags":["passports"],"summary":"Add Submodel Element to the given Submodel","security":[{"apiKeyAuth":[]}],"parameters":[{"in":"path","name":"id","schema":{"description":"The id","example":"958b741c-c2ef-4366-a134-fafd30210ed4","type":"string"},"required":true,"description":"The id"},{"in":"path","name":"submodelId","schema":{"description":"The submodel id","example":"032a7e62-29e2-4530-8f4b-765e32514a56","type":"string"},"required":true,"description":"The submodel id"},{"$ref":"#/components/parameters/OrganizationIdHeader"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmodelElement"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmodelElementOutput"}}}}}}},"/passports/{id}/submodels/{submodelId}/submodel-elements/{idShortPath}/columns":{"post":{"tags":["passports"],"summary":"Add column to Submodel Element List with specified idShortPath. Column is itself a Submodel Element.","security":[{"apiKeyAuth":[]}],"parameters":[{"in":"path","name":"id","schema":{"description":"The id","example":"958b741c-c2ef-4366-a134-fafd30210ed4","type":"string"},"required":true,"description":"The id"},{"in":"path","name":"submodelId","schema":{"description":"The submodel id","example":"032a7e62-29e2-4530-8f4b-765e32514a56","type":"string"},"required":true,"description":"The submodel id"},{"in":"path","name":"idShortPath","schema":{"description":"IdShort path to the submodel element (dot-separated)","example":"path1.path2.path3","type":"string","pattern":"^[^./]+(?:\\.[^./]+)*$"},"required":true,"description":"IdShort path to the submodel element (dot-separated)"},{"in":"query","name":"position","schema":{"description":"The position of the element in the result listing. The first element has position 0.","example":1,"type":"number"},"description":"The position of the element in the result listing. The first element has position 0."},{"$ref":"#/components/parameters/OrganizationIdHeader"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmodelElement"}}}},"responses":{"201":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmodelElementOutput"}}}}}}},"/passports/{id}/submodels/{submodelId}/submodel-elements/{idShortPath}/columns/{idShortOfColumn}":{"delete":{"tags":["passports"],"summary":"Deletes column with specified idShort from Submodel Element List with specified idShortPath.","security":[{"apiKeyAuth":[]}],"parameters":[{"in":"path","name":"id","schema":{"description":"The id","example":"958b741c-c2ef-4366-a134-fafd30210ed4","type":"string"},"required":true,"description":"The id"},{"in":"path","name":"submodelId","schema":{"description":"The submodel id","example":"032a7e62-29e2-4530-8f4b-765e32514a56","type":"string"},"required":true,"description":"The submodel id"},{"in":"path","name":"idShortPath","schema":{"description":"IdShort path to the submodel element (dot-separated)","example":"path1.path2.path3","type":"string","pattern":"^[^./]+(?:\\.[^./]+)*$"},"required":true,"description":"IdShort path to the submodel element (dot-separated)"},{"in":"path","name":"idShortOfColumn","schema":{"type":"string","description":"IdShort of the column.","example":"Col1"},"required":true,"description":"IdShort of the column."},{"$ref":"#/components/parameters/OrganizationIdHeader"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmodelElementList"}}}}}},"patch":{"tags":["passports"],"summary":"Modifies column with specified idShort of Submodel Element List with specified idShortPath.","security":[{"apiKeyAuth":[]}],"parameters":[{"in":"path","name":"id","schema":{"description":"The id","example":"958b741c-c2ef-4366-a134-fafd30210ed4","type":"string"},"required":true,"description":"The id"},{"in":"path","name":"submodelId","schema":{"description":"The submodel id","example":"032a7e62-29e2-4530-8f4b-765e32514a56","type":"string"},"required":true,"description":"The submodel id"},{"in":"path","name":"idShortPath","schema":{"description":"IdShort path to the submodel element (dot-separated)","example":"path1.path2.path3","type":"string","pattern":"^[^./]+(?:\\.[^./]+)*$"},"required":true,"description":"IdShort path to the submodel element (dot-separated)"},{"in":"path","name":"idShortOfColumn","schema":{"type":"string","description":"IdShort of the column.","example":"Col1"},"required":true,"description":"IdShort of the column."},{"$ref":"#/components/parameters/OrganizationIdHeader"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"displayName":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"]}},"description":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"]}},"idShort":{"type":"string"}},"required":["idShort"],"additionalProperties":{}}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmodelElementList"}}}}}}},"/passports/{id}/submodels/{submodelId}/submodel-elements/{idShortPath}/rows":{"post":{"tags":["passports"],"summary":"Add row to Submodel Element List with specified idShortPath.","security":[{"apiKeyAuth":[]}],"parameters":[{"in":"path","name":"id","schema":{"description":"The id","example":"958b741c-c2ef-4366-a134-fafd30210ed4","type":"string"},"required":true,"description":"The id"},{"in":"path","name":"submodelId","schema":{"description":"The submodel id","example":"032a7e62-29e2-4530-8f4b-765e32514a56","type":"string"},"required":true,"description":"The submodel id"},{"in":"path","name":"idShortPath","schema":{"description":"IdShort path to the submodel element (dot-separated)","example":"path1.path2.path3","type":"string","pattern":"^[^./]+(?:\\.[^./]+)*$"},"required":true,"description":"IdShort path to the submodel element (dot-separated)"},{"in":"query","name":"position","schema":{"description":"The position of the element in the result listing. The first element has position 0.","example":1,"type":"number"},"description":"The position of the element in the result listing. The first element has position 0."},{"$ref":"#/components/parameters/OrganizationIdHeader"}],"responses":{"201":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmodelElementList"}}}}}}},"/passports/{id}/security/policies":{"delete":{"tags":["passports"],"summary":"Deletes policy for specified subject and object.","security":[{"apiKeyAuth":[]}],"parameters":[{"in":"path","name":"id","schema":{"description":"The id","example":"958b741c-c2ef-4366-a134-fafd30210ed4","type":"string"},"required":true,"description":"The id"},{"$ref":"#/components/parameters/OrganizationIdHeader"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"subject":{"type":"object","properties":{"subjectAttribute":{"type":"array","items":{"type":"object","properties":{"category":{"anyOf":[{"type":"string"},{"type":"null"}]},"idShort":{"type":"string"},"displayName":{"default":[],"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"]}},"description":{"default":[],"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"]}},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema0"},{"type":"null"}]},"supplementalSemanticIds":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema0"}},"qualifiers":{"default":[],"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"valueType":{"type":"string"},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema0"},{"type":"null"}]},"supplementalSemanticIds":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema0"}},"kind":{"type":"string","enum":["ValueQualifier","ConceptQualifier","TemplateQualifier"]},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"valueId":{"anyOf":[{"$ref":"#/components/schemas/__schema0"},{"type":"null"}]}},"required":["type","valueType","kind"]}},"embeddedDataSpecifications":{"default":[],"type":"array","items":{"type":"object","properties":{"dataSpecification":{"$ref":"#/components/schemas/__schema0"}},"required":["dataSpecification"]}},"valueType":{"type":"string"},"extensions":{"default":[],"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema0"},{"type":"null"}]},"supplementalSemanticIds":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema0"}},"valueType":{"anyOf":[{"type":"string"},{"type":"null"}]},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"refersTo":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema0"}}},"required":["name"]}},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"valueId":{"anyOf":[{"$ref":"#/components/schemas/__schema0"},{"type":"null"}]}},"required":["idShort","valueType"]}}},"required":["subjectAttribute"]},"object":{"type":"string"}},"required":["subject","object"]}}}},"responses":{"204":{}}}},"/passports/{id}/submodels/{submodelId}/submodel-elements/{idShortPath}/rows/{idShortOfRow}":{"delete":{"tags":["passports"],"summary":"Deletes row with specified idShort from Submodel Element List with specified idShortPath.","security":[{"apiKeyAuth":[]}],"parameters":[{"in":"path","name":"id","schema":{"description":"The id","example":"958b741c-c2ef-4366-a134-fafd30210ed4","type":"string"},"required":true,"description":"The id"},{"in":"path","name":"submodelId","schema":{"description":"The submodel id","example":"032a7e62-29e2-4530-8f4b-765e32514a56","type":"string"},"required":true,"description":"The submodel id"},{"in":"path","name":"idShortPath","schema":{"description":"IdShort path to the submodel element (dot-separated)","example":"path1.path2.path3","type":"string","pattern":"^[^./]+(?:\\.[^./]+)*$"},"required":true,"description":"IdShort path to the submodel element (dot-separated)"},{"in":"path","name":"idShortOfRow","schema":{"type":"string","description":"IdShort of the row.","example":"Row1"},"required":true,"description":"IdShort of the row."},{"$ref":"#/components/parameters/OrganizationIdHeader"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmodelElementList"}}}}}}},"/passports/{id}/submodels/{submodelId}/submodel-elements/{idShortPath}":{"get":{"tags":["passports"],"summary":"Returns Submodel Element by idShortPath","security":[{"apiKeyAuth":[]}],"parameters":[{"in":"path","name":"id","schema":{"description":"The id","example":"958b741c-c2ef-4366-a134-fafd30210ed4","type":"string"},"required":true,"description":"The id"},{"in":"path","name":"submodelId","schema":{"description":"The submodel id","example":"032a7e62-29e2-4530-8f4b-765e32514a56","type":"string"},"required":true,"description":"The submodel id"},{"in":"path","name":"idShortPath","schema":{"description":"IdShort path to the submodel element (dot-separated)","example":"path1.path2.path3","type":"string","pattern":"^[^./]+(?:\\.[^./]+)*$"},"required":true,"description":"IdShort path to the submodel element (dot-separated)"},{"$ref":"#/components/parameters/OrganizationIdHeader"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmodelElementOutput"}}}}}},"post":{"tags":["passports"],"summary":"Creates a new Submodel Element at a specified path within submodel elements hierarchy","security":[{"apiKeyAuth":[]}],"parameters":[{"in":"path","name":"id","schema":{"description":"The id","example":"958b741c-c2ef-4366-a134-fafd30210ed4","type":"string"},"required":true,"description":"The id"},{"in":"path","name":"submodelId","schema":{"description":"The submodel id","example":"032a7e62-29e2-4530-8f4b-765e32514a56","type":"string"},"required":true,"description":"The submodel id"},{"in":"path","name":"idShortPath","schema":{"description":"IdShort path to the submodel element (dot-separated)","example":"path1.path2.path3","type":"string","pattern":"^[^./]+(?:\\.[^./]+)*$"},"required":true,"description":"IdShort path to the submodel element (dot-separated)"},{"$ref":"#/components/parameters/OrganizationIdHeader"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmodelElement"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmodelElementOutput"}}}}}},"patch":{"tags":["passports"],"summary":"Modify Submodel Element","security":[{"apiKeyAuth":[]}],"parameters":[{"in":"path","name":"id","schema":{"description":"The id","example":"958b741c-c2ef-4366-a134-fafd30210ed4","type":"string"},"required":true,"description":"The id"},{"in":"path","name":"submodelId","schema":{"description":"The submodel id","example":"032a7e62-29e2-4530-8f4b-765e32514a56","type":"string"},"required":true,"description":"The submodel id"},{"in":"path","name":"idShortPath","schema":{"description":"IdShort path to the submodel element (dot-separated)","example":"path1.path2.path3","type":"string","pattern":"^[^./]+(?:\\.[^./]+)*$"},"required":true,"description":"IdShort path to the submodel element (dot-separated)"},{"$ref":"#/components/parameters/OrganizationIdHeader"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"displayName":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"]}},"description":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"]}},"idShort":{"type":"string"}},"required":["idShort"],"additionalProperties":{}}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmodelElementOutput"}}}}}},"delete":{"tags":["passports"],"summary":"Deletes a Submodel Element at a specified path within submodel elements hierarchy","security":[{"apiKeyAuth":[]}],"parameters":[{"in":"path","name":"id","schema":{"description":"The id","example":"958b741c-c2ef-4366-a134-fafd30210ed4","type":"string"},"required":true,"description":"The id"},{"in":"path","name":"submodelId","schema":{"description":"The submodel id","example":"032a7e62-29e2-4530-8f4b-765e32514a56","type":"string"},"required":true,"description":"The submodel id"},{"in":"path","name":"idShortPath","schema":{"description":"IdShort path to the submodel element (dot-separated)","example":"path1.path2.path3","type":"string","pattern":"^[^./]+(?:\\.[^./]+)*$"},"required":true,"description":"IdShort path to the submodel element (dot-separated)"},{"$ref":"#/components/parameters/OrganizationIdHeader"}],"responses":{"204":{}}}},"/passports/{id}/submodels/{submodelId}/submodel-elements/{idShortPath}/$value":{"get":{"tags":["passports"],"summary":"Returns value representation of Submodel Element","security":[{"apiKeyAuth":[]}],"parameters":[{"in":"path","name":"id","schema":{"description":"The id","example":"958b741c-c2ef-4366-a134-fafd30210ed4","type":"string"},"required":true,"description":"The id"},{"in":"path","name":"submodelId","schema":{"description":"The submodel id","example":"032a7e62-29e2-4530-8f4b-765e32514a56","type":"string"},"required":true,"description":"The submodel id"},{"in":"path","name":"idShortPath","schema":{"description":"IdShort path to the submodel element (dot-separated)","example":"path1.path2.path3","type":"string","pattern":"^[^./]+(?:\\.[^./]+)*$"},"required":true,"description":"IdShort path to the submodel element (dot-separated)"},{"$ref":"#/components/parameters/OrganizationIdHeader"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/__schema5"}}}}}}},"/passports/{id}/activities":{"get":{"tags":["passports"],"summary":"Returns activities of the passports with the specified id","security":[{"apiKeyAuth":[]}],"parameters":[{"in":"path","name":"id","schema":{"description":"The id","example":"958b741c-c2ef-4366-a134-fafd30210ed4","type":"string"},"required":true,"description":"The id"},{"in":"query","name":"startDate","schema":{"description":"Start datetime as iso string.","example":"2011-10-05T14:48:00.000Z","type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},"description":"Start datetime as iso string."},{"in":"query","name":"endDate","schema":{"description":"End datetime as iso string.","example":"2011-11-05T14:48:00.000Z","type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},"description":"End datetime as iso string."},{"in":"query","name":"cursor","schema":{"description":"A server-generated identifier retrieved from pagingMetadata that specifies from which position the result listing should continue","type":"string"},"description":"A server-generated identifier retrieved from pagingMetadata that specifies from which position the result listing should continue"},{"in":"query","name":"limit","schema":{"description":"The maximum number of elements in the response array","example":10,"type":"number"},"description":"The maximum number of elements in the response array"},{"$ref":"#/components/parameters/OrganizationIdHeader"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Activities"}}}}}}},"/passports/{id}/activities/download":{"get":{"tags":["passports"],"summary":"Download activities of the passports with the specified id","security":[{"apiKeyAuth":[]}],"parameters":[{"in":"path","name":"id","schema":{"description":"The id","example":"958b741c-c2ef-4366-a134-fafd30210ed4","type":"string"},"required":true,"description":"The id"},{"in":"query","name":"startDate","schema":{"description":"Start datetime as iso string.","example":"2011-10-05T14:48:00.000Z","type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},"description":"Start datetime as iso string."},{"in":"query","name":"endDate","schema":{"description":"End datetime as iso string.","example":"2011-11-05T14:48:00.000Z","type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},"description":"End datetime as iso string."},{"$ref":"#/components/parameters/OrganizationIdHeader"}],"responses":{"200":{"content":{"application/zip":{"schema":{"type":"string","format":"binary"}}}}}}},"/passports":{"get":{"tags":["passports"],"summary":"Get passports","security":[{"apiKeyAuth":[]}],"parameters":[{"in":"query","name":"limit","schema":{"description":"The maximum number of elements in the response array","example":10,"type":"number"},"description":"The maximum number of elements in the response array"},{"in":"query","name":"cursor","schema":{"description":"A server-generated identifier retrieved from pagingMetadata that specifies from which position the result listing should continue","type":"string"},"description":"A server-generated identifier retrieved from pagingMetadata that specifies from which position the result listing should continue"},{"in":"query","name":"populate","schema":{"description":"Populates specified environment property","example":"environment.assetAdministrationShells","anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"description":"Populates specified environment property"},{"in":"query","name":"status","schema":{"description":"Filters by the specified status entries","example":"[Draft, Published]","anyOf":[{"type":"string","enum":["Draft","Published","Archived"]},{"type":"array","items":{"type":"string","enum":["Draft","Published","Archived"]}}]},"description":"Filters by the specified status entries"},{"$ref":"#/components/parameters/OrganizationIdHeader"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Passports"}}}}}},"post":{"tags":["passports"],"summary":"Creates blank passport","security":[{"apiKeyAuth":[]}],"parameters":[{"$ref":"#/components/parameters/OrganizationIdHeader"}],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"templateId":{"type":"string"}},"required":["templateId"]},{"type":"object","properties":{"environment":{"type":"object","properties":{"assetAdministrationShells":{"maxItems":1,"type":"array","items":{"type":"object","properties":{"displayName":{"default":[],"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"]}},"description":{"default":[],"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"]}}}}}},"required":["assetAdministrationShells"]}},"required":["environment"]}]}}}},"responses":{"201":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"organizationId":{"type":"string"},"environment":{"anyOf":[{"type":"object","properties":{"assetAdministrationShells":{"type":"array","items":{"type":"string"}},"submodels":{"type":"array","items":{"type":"string"}},"conceptDescriptions":{"type":"array","items":{"type":"string"}}},"required":["assetAdministrationShells","submodels","conceptDescriptions"],"additionalProperties":false},{"type":"object","properties":{"assetAdministrationShells":{"type":"array","items":{"oneOf":[{"type":"string"},{"type":"object","properties":{"id":{"type":"string"},"displayName":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"],"additionalProperties":false}}},"required":["id","displayName"],"additionalProperties":false}]}},"submodels":{"type":"array","items":{"type":"string"}},"conceptDescriptions":{"type":"array","items":{"type":"string"}}},"required":["assetAdministrationShells","submodels","conceptDescriptions"],"additionalProperties":false}]},"createdAt":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},{"type":"string"}]},"updatedAt":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},{"type":"string"}]},"lastStatusChange":{"type":"object","properties":{"previousStatus":{"anyOf":[{"type":"string","enum":["Draft","Published","Archived"]},{"type":"null"}]},"currentStatus":{"type":"string","enum":["Draft","Published","Archived"]}},"required":["currentStatus"],"additionalProperties":false},"templateId":{"anyOf":[{"type":"string"},{"type":"null"}]},"uniqueProductIdentifierUuid":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}},"required":["id","organizationId","environment","createdAt","updatedAt","lastStatusChange","templateId"],"additionalProperties":false}}}}}}},"/passports/{id}/export":{"get":{"tags":["passports"],"summary":"Exports a passport","security":[{"apiKeyAuth":[]}],"parameters":[{"in":"path","name":"id","schema":{"description":"The id","example":"958b741c-c2ef-4366-a134-fafd30210ed4","type":"string"},"required":true,"description":"The id"},{"$ref":"#/components/parameters/OrganizationIdHeader"}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"environment":{"type":"object","properties":{"assetAdministrationShells":{"type":"array","items":{"type":"object","properties":{"assetInformation":{"type":"object","properties":{"assetKind":{"type":"string","enum":["Type","Instance"]},"globalAssetId":{"anyOf":[{"type":"string"},{"type":"null"}]},"specificAssetIds":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema6"},{"type":"null"}]},"supplementalSemanticIds":{"type":"array","items":{"$ref":"#/components/schemas/__schema6"}},"externalSubjectId":{"anyOf":[{"$ref":"#/components/schemas/__schema6"},{"type":"null"}]}},"required":["name","value","semanticId","supplementalSemanticIds","externalSubjectId"],"additionalProperties":false}},"assetType":{"anyOf":[{"type":"string"},{"type":"null"}]},"defaultThumbnails":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"contentType":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["path","contentType"],"additionalProperties":false}}},"required":["assetKind","specificAssetIds","assetType","defaultThumbnails"],"additionalProperties":false},"extensions":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema6"},{"type":"null"}]},"supplementalSemanticIds":{"type":"array","items":{"$ref":"#/components/schemas/__schema6"}},"valueType":{"anyOf":[{"type":"string","enum":["AnyUri","Base64Binary","Boolean","Byte","Date","DateTime","Decimal","Double","Duration","Float","GDay","GMonth","GMonthDay","GYear","GYearMonth","HexBinary","Int","Integer","Long","NegativeInteger","NonNegativeInteger","NonPositiveInteger","PositiveInteger","Short","String","Time","UnsignedByte","UnsignedInt","UnsignedLong","UnsignedShort"]},{"type":"null"}]},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"refersTo":{"type":"array","items":{"$ref":"#/components/schemas/__schema6"}}},"required":["name","semanticId","supplementalSemanticIds","valueType","value","refersTo"],"additionalProperties":false}},"category":{"anyOf":[{"type":"string"},{"type":"null"}]},"idShort":{"anyOf":[{"type":"string"},{"type":"null"}]},"displayName":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"],"additionalProperties":false}},"description":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"],"additionalProperties":false}},"administration":{"anyOf":[{"type":"object","properties":{"version":{"type":"string"},"revision":{"type":"string"}},"required":["version","revision"],"additionalProperties":false},{"type":"null"}]},"embeddedDataSpecifications":{"type":"array","items":{"type":"object","properties":{"dataSpecification":{"$ref":"#/components/schemas/__schema6"}},"required":["dataSpecification"],"additionalProperties":false}},"derivedFrom":{"anyOf":[{"$ref":"#/components/schemas/__schema6"},{"type":"null"}]},"submodels":{"type":"array","items":{"$ref":"#/components/schemas/__schema6"}}},"required":["assetInformation","extensions","category","idShort","displayName","description","administration","embeddedDataSpecifications","submodels"],"additionalProperties":false}},"submodels":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"extensions":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema6"},{"type":"null"}]},"supplementalSemanticIds":{"type":"array","items":{"$ref":"#/components/schemas/__schema6"}},"valueType":{"anyOf":[{"type":"string","enum":["AnyUri","Base64Binary","Boolean","Byte","Date","DateTime","Decimal","Double","Duration","Float","GDay","GMonth","GMonthDay","GYear","GYearMonth","HexBinary","Int","Integer","Long","NegativeInteger","NonNegativeInteger","NonPositiveInteger","PositiveInteger","Short","String","Time","UnsignedByte","UnsignedInt","UnsignedLong","UnsignedShort"]},{"type":"null"}]},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"refersTo":{"type":"array","items":{"$ref":"#/components/schemas/__schema6"}}},"required":["name","semanticId","supplementalSemanticIds","valueType","value","refersTo"],"additionalProperties":false}},"category":{"anyOf":[{"type":"string"},{"type":"null"}]},"idShort":{"type":"string"},"displayName":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"],"additionalProperties":false}},"description":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"],"additionalProperties":false}},"administration":{"anyOf":[{"type":"object","properties":{"version":{"type":"string"},"revision":{"type":"string"}},"required":["version","revision"],"additionalProperties":false},{"type":"null"}]},"kind":{"anyOf":[{"type":"string","enum":["Template","Instance"]},{"type":"null"}]},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema6"},{"type":"null"}]},"supplementalSemanticIds":{"type":"array","items":{"$ref":"#/components/schemas/__schema6"}},"qualifiers":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"valueType":{"anyOf":[{"type":"string","enum":["AnyUri","Base64Binary","Boolean","Byte","Date","DateTime","Decimal","Double","Duration","Float","GDay","GMonth","GMonthDay","GYear","GYearMonth","HexBinary","Int","Integer","Long","NegativeInteger","NonNegativeInteger","NonPositiveInteger","PositiveInteger","Short","String","Time","UnsignedByte","UnsignedInt","UnsignedLong","UnsignedShort"]},{"type":"null"}]},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema6"},{"type":"null"}]},"supplementalSemanticIds":{"type":"array","items":{"$ref":"#/components/schemas/__schema6"}},"kind":{"anyOf":[{"type":"string","enum":["ValueQualifier","ConceptQualifier","TemplateQualifier"]},{"type":"null"}]},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"valueId":{"anyOf":[{"$ref":"#/components/schemas/__schema6"},{"type":"null"}]}},"required":["type","valueType","semanticId","supplementalSemanticIds","kind","value","valueId"],"additionalProperties":false}},"embeddedDataSpecifications":{"type":"array","items":{"type":"object","properties":{"dataSpecification":{"$ref":"#/components/schemas/__schema6"}},"required":["dataSpecification"],"additionalProperties":false}},"submodelElements":{"type":"array","items":{"$ref":"#/components/schemas/__schema7"}}},"required":["id","extensions","category","idShort","displayName","description","kind","supplementalSemanticIds","qualifiers","embeddedDataSpecifications","submodelElements"],"additionalProperties":false}},"conceptDescriptions":{"type":"array","items":{"type":"object","properties":{"extensions":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema6"},{"type":"null"}]},"supplementalSemanticIds":{"type":"array","items":{"$ref":"#/components/schemas/__schema6"}},"valueType":{"anyOf":[{"type":"string","enum":["AnyUri","Base64Binary","Boolean","Byte","Date","DateTime","Decimal","Double","Duration","Float","GDay","GMonth","GMonthDay","GYear","GYearMonth","HexBinary","Int","Integer","Long","NegativeInteger","NonNegativeInteger","NonPositiveInteger","PositiveInteger","Short","String","Time","UnsignedByte","UnsignedInt","UnsignedLong","UnsignedShort"]},{"type":"null"}]},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"refersTo":{"type":"array","items":{"$ref":"#/components/schemas/__schema6"}}},"required":["name","semanticId","supplementalSemanticIds","valueType","value","refersTo"],"additionalProperties":false}},"category":{"anyOf":[{"type":"string"},{"type":"null"}]},"idShort":{"anyOf":[{"type":"string"},{"type":"null"}]},"displayName":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"],"additionalProperties":false}},"description":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"],"additionalProperties":false}},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema6"},{"type":"null"}]},"administration":{"anyOf":[{"type":"object","properties":{"version":{"type":"string"},"revision":{"type":"string"}},"required":["version","revision"],"additionalProperties":false},{"type":"null"}]},"embeddedDataSpecifications":{"type":"array","items":{"type":"object","properties":{"dataSpecification":{"$ref":"#/components/schemas/__schema6"}},"required":["dataSpecification"],"additionalProperties":false}},"isCaseOf":{"type":"array","items":{"$ref":"#/components/schemas/__schema6"}}},"required":["extensions","category","idShort","displayName","description","semanticId","administration","embeddedDataSpecifications","isCaseOf"],"additionalProperties":false}}},"required":["assetAdministrationShells","submodels","conceptDescriptions"],"additionalProperties":false},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"format":{"type":"string","const":"open-dpp:json"},"version":{"type":"string","const":"1.0"}},"required":["id","environment","createdAt","updatedAt","format","version"],"additionalProperties":false}}}}}}},"/passports/{id}":{"delete":{"tags":["passports"],"summary":"Delete passport by specified id. Only passports with the status \"draft\" can be deleted.","security":[{"apiKeyAuth":[]}],"parameters":[{"in":"path","name":"id","schema":{"description":"The id","example":"958b741c-c2ef-4366-a134-fafd30210ed4","type":"string"},"required":true,"description":"The id"},{"$ref":"#/components/parameters/OrganizationIdHeader"}],"responses":{"204":{}}}},"/passports/{id}/status":{"put":{"tags":["passports"],"summary":"Change status of passport by specified id.","security":[{"apiKeyAuth":[]}],"parameters":[{"in":"path","name":"id","schema":{"description":"The id","example":"958b741c-c2ef-4366-a134-fafd30210ed4","type":"string"},"required":true,"description":"The id"},{"$ref":"#/components/parameters/OrganizationIdHeader"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"method":{"type":"string","enum":["Publish","Archive","Restore"]}},"required":["method"]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"organizationId":{"type":"string"},"environment":{"anyOf":[{"type":"object","properties":{"assetAdministrationShells":{"type":"array","items":{"type":"string"}},"submodels":{"type":"array","items":{"type":"string"}},"conceptDescriptions":{"type":"array","items":{"type":"string"}}},"required":["assetAdministrationShells","submodels","conceptDescriptions"],"additionalProperties":false},{"type":"object","properties":{"assetAdministrationShells":{"type":"array","items":{"oneOf":[{"type":"string"},{"type":"object","properties":{"id":{"type":"string"},"displayName":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"],"additionalProperties":false}}},"required":["id","displayName"],"additionalProperties":false}]}},"submodels":{"type":"array","items":{"type":"string"}},"conceptDescriptions":{"type":"array","items":{"type":"string"}}},"required":["assetAdministrationShells","submodels","conceptDescriptions"],"additionalProperties":false}]},"createdAt":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},{"type":"string"}]},"updatedAt":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},{"type":"string"}]},"lastStatusChange":{"type":"object","properties":{"previousStatus":{"anyOf":[{"type":"string","enum":["Draft","Published","Archived"]},{"type":"null"}]},"currentStatus":{"type":"string","enum":["Draft","Published","Archived"]}},"required":["currentStatus"],"additionalProperties":false},"templateId":{"anyOf":[{"type":"string"},{"type":"null"}]},"uniqueProductIdentifierUuid":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}},"required":["id","organizationId","environment","createdAt","updatedAt","lastStatusChange","templateId"],"additionalProperties":false}}}}}}},"/passports/import":{"post":{"tags":["passports"],"summary":"Imports a passport","security":[{"apiKeyAuth":[]}],"parameters":[{"$ref":"#/components/parameters/OrganizationIdHeader"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"environment":{"type":"object","properties":{"assetAdministrationShells":{"type":"array","items":{"type":"object","properties":{"assetInformation":{"type":"object","properties":{"assetKind":{"type":"string","enum":["Type","Instance"]},"globalAssetId":{"anyOf":[{"type":"string"},{"type":"null"}]},"specificAssetIds":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema2"},{"type":"null"}]},"supplementalSemanticIds":{"type":"array","items":{"$ref":"#/components/schemas/__schema2"}},"externalSubjectId":{"anyOf":[{"$ref":"#/components/schemas/__schema2"},{"type":"null"}]}},"required":["name","value","semanticId","supplementalSemanticIds","externalSubjectId"]}},"assetType":{"anyOf":[{"type":"string"},{"type":"null"}]},"defaultThumbnails":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"contentType":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["path","contentType"]}}},"required":["assetKind","specificAssetIds","assetType","defaultThumbnails"]},"extensions":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema2"},{"type":"null"}]},"supplementalSemanticIds":{"type":"array","items":{"$ref":"#/components/schemas/__schema2"}},"valueType":{"anyOf":[{"type":"string","enum":["AnyUri","Base64Binary","Boolean","Byte","Date","DateTime","Decimal","Double","Duration","Float","GDay","GMonth","GMonthDay","GYear","GYearMonth","HexBinary","Int","Integer","Long","NegativeInteger","NonNegativeInteger","NonPositiveInteger","PositiveInteger","Short","String","Time","UnsignedByte","UnsignedInt","UnsignedLong","UnsignedShort"]},{"type":"null"}]},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"refersTo":{"type":"array","items":{"$ref":"#/components/schemas/__schema2"}}},"required":["name","semanticId","supplementalSemanticIds","valueType","value","refersTo"]}},"category":{"anyOf":[{"type":"string"},{"type":"null"}]},"idShort":{"anyOf":[{"type":"string"},{"type":"null"}]},"displayName":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"]}},"description":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"]}},"administration":{"anyOf":[{"type":"object","properties":{"version":{"type":"string"},"revision":{"type":"string"}},"required":["version","revision"]},{"type":"null"}]},"embeddedDataSpecifications":{"type":"array","items":{"type":"object","properties":{"dataSpecification":{"$ref":"#/components/schemas/__schema2"}},"required":["dataSpecification"]}},"derivedFrom":{"anyOf":[{"$ref":"#/components/schemas/__schema2"},{"type":"null"}]},"submodels":{"type":"array","items":{"$ref":"#/components/schemas/__schema2"}}},"required":["assetInformation","extensions","category","idShort","displayName","description","administration","embeddedDataSpecifications","submodels"]}},"submodels":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"extensions":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema2"},{"type":"null"}]},"supplementalSemanticIds":{"type":"array","items":{"$ref":"#/components/schemas/__schema2"}},"valueType":{"anyOf":[{"type":"string","enum":["AnyUri","Base64Binary","Boolean","Byte","Date","DateTime","Decimal","Double","Duration","Float","GDay","GMonth","GMonthDay","GYear","GYearMonth","HexBinary","Int","Integer","Long","NegativeInteger","NonNegativeInteger","NonPositiveInteger","PositiveInteger","Short","String","Time","UnsignedByte","UnsignedInt","UnsignedLong","UnsignedShort"]},{"type":"null"}]},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"refersTo":{"type":"array","items":{"$ref":"#/components/schemas/__schema2"}}},"required":["name","semanticId","supplementalSemanticIds","valueType","value","refersTo"]}},"category":{"anyOf":[{"type":"string"},{"type":"null"}]},"idShort":{"type":"string"},"displayName":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"]}},"description":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"]}},"administration":{"anyOf":[{"type":"object","properties":{"version":{"type":"string"},"revision":{"type":"string"}},"required":["version","revision"]},{"type":"null"}]},"kind":{"anyOf":[{"type":"string","enum":["Template","Instance"]},{"type":"null"}]},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema2"},{"type":"null"}]},"supplementalSemanticIds":{"type":"array","items":{"$ref":"#/components/schemas/__schema2"}},"qualifiers":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"valueType":{"anyOf":[{"type":"string","enum":["AnyUri","Base64Binary","Boolean","Byte","Date","DateTime","Decimal","Double","Duration","Float","GDay","GMonth","GMonthDay","GYear","GYearMonth","HexBinary","Int","Integer","Long","NegativeInteger","NonNegativeInteger","NonPositiveInteger","PositiveInteger","Short","String","Time","UnsignedByte","UnsignedInt","UnsignedLong","UnsignedShort"]},{"type":"null"}]},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema2"},{"type":"null"}]},"supplementalSemanticIds":{"type":"array","items":{"$ref":"#/components/schemas/__schema2"}},"kind":{"anyOf":[{"type":"string","enum":["ValueQualifier","ConceptQualifier","TemplateQualifier"]},{"type":"null"}]},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"valueId":{"anyOf":[{"$ref":"#/components/schemas/__schema2"},{"type":"null"}]}},"required":["type","valueType","semanticId","supplementalSemanticIds","kind","value","valueId"]}},"embeddedDataSpecifications":{"type":"array","items":{"type":"object","properties":{"dataSpecification":{"$ref":"#/components/schemas/__schema2"}},"required":["dataSpecification"]}},"submodelElements":{"type":"array","items":{"$ref":"#/components/schemas/__schema3"}}},"required":["id","extensions","category","idShort","displayName","description","kind","supplementalSemanticIds","qualifiers","embeddedDataSpecifications","submodelElements"]}},"conceptDescriptions":{"type":"array","items":{"type":"object","properties":{"extensions":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema2"},{"type":"null"}]},"supplementalSemanticIds":{"type":"array","items":{"$ref":"#/components/schemas/__schema2"}},"valueType":{"anyOf":[{"type":"string","enum":["AnyUri","Base64Binary","Boolean","Byte","Date","DateTime","Decimal","Double","Duration","Float","GDay","GMonth","GMonthDay","GYear","GYearMonth","HexBinary","Int","Integer","Long","NegativeInteger","NonNegativeInteger","NonPositiveInteger","PositiveInteger","Short","String","Time","UnsignedByte","UnsignedInt","UnsignedLong","UnsignedShort"]},{"type":"null"}]},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"refersTo":{"type":"array","items":{"$ref":"#/components/schemas/__schema2"}}},"required":["name","semanticId","supplementalSemanticIds","valueType","value","refersTo"]}},"category":{"anyOf":[{"type":"string"},{"type":"null"}]},"idShort":{"anyOf":[{"type":"string"},{"type":"null"}]},"displayName":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"]}},"description":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"]}},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema2"},{"type":"null"}]},"administration":{"anyOf":[{"type":"object","properties":{"version":{"type":"string"},"revision":{"type":"string"}},"required":["version","revision"]},{"type":"null"}]},"embeddedDataSpecifications":{"type":"array","items":{"type":"object","properties":{"dataSpecification":{"$ref":"#/components/schemas/__schema2"}},"required":["dataSpecification"]}},"isCaseOf":{"type":"array","items":{"$ref":"#/components/schemas/__schema2"}}},"required":["extensions","category","idShort","displayName","description","semanticId","administration","embeddedDataSpecifications","isCaseOf"]}}},"required":["assetAdministrationShells","submodels","conceptDescriptions"]},"createdAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},"updatedAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},"format":{"type":"string","const":"open-dpp:json"},"version":{"type":"string","const":"1.0"}},"required":["id","environment","createdAt","updatedAt","format","version"]}}}},"responses":{"201":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"organizationId":{"type":"string"},"environment":{"anyOf":[{"type":"object","properties":{"assetAdministrationShells":{"type":"array","items":{"type":"string"}},"submodels":{"type":"array","items":{"type":"string"}},"conceptDescriptions":{"type":"array","items":{"type":"string"}}},"required":["assetAdministrationShells","submodels","conceptDescriptions"],"additionalProperties":false},{"type":"object","properties":{"assetAdministrationShells":{"type":"array","items":{"oneOf":[{"type":"string"},{"type":"object","properties":{"id":{"type":"string"},"displayName":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"],"additionalProperties":false}}},"required":["id","displayName"],"additionalProperties":false}]}},"submodels":{"type":"array","items":{"type":"string"}},"conceptDescriptions":{"type":"array","items":{"type":"string"}}},"required":["assetAdministrationShells","submodels","conceptDescriptions"],"additionalProperties":false}]},"createdAt":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},{"type":"string"}]},"updatedAt":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"},{"type":"string"}]},"lastStatusChange":{"type":"object","properties":{"previousStatus":{"anyOf":[{"type":"string","enum":["Draft","Published","Archived"]},{"type":"null"}]},"currentStatus":{"type":"string","enum":["Draft","Published","Archived"]}},"required":["currentStatus"],"additionalProperties":false},"templateId":{"anyOf":[{"type":"string"},{"type":"null"}]},"uniqueProductIdentifierUuid":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}},"required":["id","organizationId","environment","createdAt","updatedAt","lastStatusChange","templateId"],"additionalProperties":false}}}},"400":{"description":"Invalid import data format","content":{"application/json":{"schema":{"type":"object","properties":{"statusCode":{"type":"number","example":400},"message":{"type":"string"},"error":{"type":"string","example":"Bad Request"}}}}}}}}},"/templates/{id}/shells":{"get":{"tags":["templates"],"summary":"Returns all Asset Administration Shells","security":[{"apiKeyAuth":[]}],"parameters":[{"in":"path","name":"id","schema":{"description":"The id","example":"958b741c-c2ef-4366-a134-fafd30210ed4","type":"string"},"required":true,"description":"The id"},{"in":"query","name":"limit","schema":{"description":"The maximum number of elements in the response array","example":10,"type":"number"},"description":"The maximum number of elements in the response array"},{"in":"query","name":"cursor","schema":{"description":"A server-generated identifier retrieved from pagingMetadata that specifies from which position the result listing should continue","type":"string"},"description":"A server-generated identifier retrieved from pagingMetadata that specifies from which position the result listing should continue"},{"$ref":"#/components/parameters/OrganizationIdHeader"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssetAdministrationShells"}}}}}}},"/templates/{id}/shells/{aasId}":{"patch":{"tags":["templates"],"summary":"Modifies a Asset Administration Shell with specified id","security":[{"apiKeyAuth":[]}],"parameters":[{"in":"path","name":"id","schema":{"description":"The id","example":"958b741c-c2ef-4366-a134-fafd30210ed4","type":"string"},"required":true,"description":"The id"},{"in":"path","name":"aasId","schema":{"description":"The asset administration shell id","example":"032a7e62-29e2-4530-8f4b-765e32514a56","type":"string"},"required":true,"description":"The asset administration shell id"},{"$ref":"#/components/parameters/OrganizationIdHeader"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"displayName":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"]}},"description":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"]}},"assetInformation":{"type":"object","properties":{"defaultThumbnails":{"default":[],"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"contentType":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["path"]}}}},"security":{"type":"object","properties":{"localAccessControl":{"type":"object","properties":{"accessPermissionRules":{"type":"array","items":{"type":"object","properties":{"targetSubjectAttributes":{"type":"object","properties":{"subjectAttribute":{"type":"array","items":{"type":"object","properties":{"category":{"anyOf":[{"type":"string"},{"type":"null"}]},"idShort":{"type":"string"},"displayName":{"default":[],"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"]}},"description":{"default":[],"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"]}},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema0"},{"type":"null"}]},"supplementalSemanticIds":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema0"}},"qualifiers":{"default":[],"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"valueType":{"type":"string"},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema0"},{"type":"null"}]},"supplementalSemanticIds":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema0"}},"kind":{"type":"string","enum":["ValueQualifier","ConceptQualifier","TemplateQualifier"]},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"valueId":{"anyOf":[{"$ref":"#/components/schemas/__schema0"},{"type":"null"}]}},"required":["type","valueType","kind"]}},"embeddedDataSpecifications":{"default":[],"type":"array","items":{"type":"object","properties":{"dataSpecification":{"$ref":"#/components/schemas/__schema0"}},"required":["dataSpecification"]}},"valueType":{"type":"string"},"extensions":{"default":[],"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema0"},{"type":"null"}]},"supplementalSemanticIds":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema0"}},"valueType":{"anyOf":[{"type":"string"},{"type":"null"}]},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"refersTo":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema0"}}},"required":["name"]}},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"valueId":{"anyOf":[{"$ref":"#/components/schemas/__schema0"},{"type":"null"}]}},"required":["idShort","valueType"]}}},"required":["subjectAttribute"]},"permissionsPerObject":{"type":"array","items":{"type":"object","properties":{"object":{"type":"object","properties":{"category":{"anyOf":[{"type":"string"},{"type":"null"}]},"idShort":{"type":"string"},"displayName":{"default":[],"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"]}},"description":{"default":[],"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"]}},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema0"},{"type":"null"}]},"supplementalSemanticIds":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema0"}},"qualifiers":{"default":[],"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"valueType":{"type":"string"},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema0"},{"type":"null"}]},"supplementalSemanticIds":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema0"}},"kind":{"type":"string","enum":["ValueQualifier","ConceptQualifier","TemplateQualifier"]},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"valueId":{"anyOf":[{"$ref":"#/components/schemas/__schema0"},{"type":"null"}]}},"required":["type","valueType","kind"]}},"embeddedDataSpecifications":{"default":[],"type":"array","items":{"type":"object","properties":{"dataSpecification":{"$ref":"#/components/schemas/__schema0"}},"required":["dataSpecification"]}},"extensions":{"default":[],"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema0"},{"type":"null"}]},"supplementalSemanticIds":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema0"}},"valueType":{"anyOf":[{"type":"string"},{"type":"null"}]},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"refersTo":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema0"}}},"required":["name"]}},"value":{"anyOf":[{"$ref":"#/components/schemas/__schema0"},{"type":"null"}]}},"required":["idShort"]},"permissions":{"type":"array","items":{"type":"object","properties":{"permission":{"type":"string","enum":["Create","Read","Edit","Delete"]},"kindOfPermission":{"type":"string","enum":["Allow"]}},"required":["permission","kindOfPermission"]}}},"required":["object","permissions"]}}},"required":["targetSubjectAttributes","permissionsPerObject"]}}},"required":["accessPermissionRules"]}},"required":["localAccessControl"]}}}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"Id of the AAS"},"assetInformation":{"type":"object","properties":{"assetKind":{"type":"string","enum":["Type","Instance"]},"globalAssetId":{"anyOf":[{"type":"string"},{"type":"null"}]},"specificAssetIds":{"default":[],"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema4"},{"type":"null"}]},"supplementalSemanticIds":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema4"}},"externalSubjectId":{"anyOf":[{"$ref":"#/components/schemas/__schema4"},{"type":"null"}]}},"required":["name","value","supplementalSemanticIds"],"additionalProperties":false}},"assetType":{"anyOf":[{"type":"string"},{"type":"null"}]},"defaultThumbnails":{"default":[],"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"contentType":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["path"],"additionalProperties":false}}},"required":["assetKind","specificAssetIds","defaultThumbnails"],"additionalProperties":false},"extensions":{"default":[],"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema4"},{"type":"null"}]},"supplementalSemanticIds":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema4"}},"valueType":{"anyOf":[{"type":"string","enum":["AnyUri","Base64Binary","Boolean","Byte","Date","DateTime","Decimal","Double","Duration","Float","GDay","GMonth","GMonthDay","GYear","GYearMonth","HexBinary","Int","Integer","Long","NegativeInteger","NonNegativeInteger","NonPositiveInteger","PositiveInteger","Short","String","Time","UnsignedByte","UnsignedInt","UnsignedLong","UnsignedShort"]},{"type":"null"}]},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"refersTo":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema4"}}},"required":["name","supplementalSemanticIds","refersTo"],"additionalProperties":false}},"category":{"anyOf":[{"type":"string"},{"type":"null"}]},"idShort":{"anyOf":[{"type":"string"},{"type":"null"}]},"displayName":{"default":[],"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"],"additionalProperties":false}},"description":{"default":[],"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"],"additionalProperties":false}},"administration":{"anyOf":[{"type":"object","properties":{"version":{"type":"string"},"revision":{"type":"string"}},"required":["version","revision"],"additionalProperties":false},{"type":"null"}]},"embeddedDataSpecifications":{"default":[],"type":"array","items":{"type":"object","properties":{"dataSpecification":{"$ref":"#/components/schemas/__schema4"}},"required":["dataSpecification"],"additionalProperties":false}},"derivedFrom":{"anyOf":[{"type":"object","properties":{"path":{"type":"string"},"contentType":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["path"],"additionalProperties":false},{"type":"null"}]},"submodels":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema4"}},"security":{"type":"object","properties":{"localAccessControl":{"type":"object","properties":{"accessPermissionRules":{"type":"array","items":{"type":"object","properties":{"targetSubjectAttributes":{"type":"object","properties":{"subjectAttribute":{"type":"array","items":{"type":"object","properties":{"category":{"anyOf":[{"type":"string"},{"type":"null"}]},"idShort":{"type":"string"},"displayName":{"default":[],"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"],"additionalProperties":false}},"description":{"default":[],"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"],"additionalProperties":false}},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema4"},{"type":"null"}]},"supplementalSemanticIds":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema4"}},"qualifiers":{"default":[],"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"valueType":{"type":"string","enum":["AnyUri","Base64Binary","Boolean","Byte","Date","DateTime","Decimal","Double","Duration","Float","GDay","GMonth","GMonthDay","GYear","GYearMonth","HexBinary","Int","Integer","Long","NegativeInteger","NonNegativeInteger","NonPositiveInteger","PositiveInteger","Short","String","Time","UnsignedByte","UnsignedInt","UnsignedLong","UnsignedShort"]},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema4"},{"type":"null"}]},"supplementalSemanticIds":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema4"}},"kind":{"type":"string","enum":["ValueQualifier","ConceptQualifier","TemplateQualifier"]},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"valueId":{"anyOf":[{"$ref":"#/components/schemas/__schema4"},{"type":"null"}]}},"required":["type","valueType","supplementalSemanticIds","kind"],"additionalProperties":false}},"embeddedDataSpecifications":{"default":[],"type":"array","items":{"type":"object","properties":{"dataSpecification":{"$ref":"#/components/schemas/__schema4"}},"required":["dataSpecification"],"additionalProperties":false}},"valueType":{"type":"string","enum":["AnyUri","Base64Binary","Boolean","Byte","Date","DateTime","Decimal","Double","Duration","Float","GDay","GMonth","GMonthDay","GYear","GYearMonth","HexBinary","Int","Integer","Long","NegativeInteger","NonNegativeInteger","NonPositiveInteger","PositiveInteger","Short","String","Time","UnsignedByte","UnsignedInt","UnsignedLong","UnsignedShort"]},"extensions":{"default":[],"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema4"},{"type":"null"}]},"supplementalSemanticIds":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema4"}},"valueType":{"anyOf":[{"type":"string","enum":["AnyUri","Base64Binary","Boolean","Byte","Date","DateTime","Decimal","Double","Duration","Float","GDay","GMonth","GMonthDay","GYear","GYearMonth","HexBinary","Int","Integer","Long","NegativeInteger","NonNegativeInteger","NonPositiveInteger","PositiveInteger","Short","String","Time","UnsignedByte","UnsignedInt","UnsignedLong","UnsignedShort"]},{"type":"null"}]},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"refersTo":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema4"}}},"required":["name","supplementalSemanticIds","refersTo"],"additionalProperties":false}},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"valueId":{"anyOf":[{"$ref":"#/components/schemas/__schema4"},{"type":"null"}]}},"required":["idShort","displayName","description","supplementalSemanticIds","qualifiers","embeddedDataSpecifications","valueType","extensions"],"additionalProperties":false}}},"required":["subjectAttribute"],"additionalProperties":false},"permissionsPerObject":{"type":"array","items":{"type":"object","properties":{"object":{"type":"object","properties":{"category":{"anyOf":[{"type":"string"},{"type":"null"}]},"idShort":{"type":"string"},"displayName":{"default":[],"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"],"additionalProperties":false}},"description":{"default":[],"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"],"additionalProperties":false}},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema4"},{"type":"null"}]},"supplementalSemanticIds":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema4"}},"qualifiers":{"default":[],"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"valueType":{"type":"string","enum":["AnyUri","Base64Binary","Boolean","Byte","Date","DateTime","Decimal","Double","Duration","Float","GDay","GMonth","GMonthDay","GYear","GYearMonth","HexBinary","Int","Integer","Long","NegativeInteger","NonNegativeInteger","NonPositiveInteger","PositiveInteger","Short","String","Time","UnsignedByte","UnsignedInt","UnsignedLong","UnsignedShort"]},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema4"},{"type":"null"}]},"supplementalSemanticIds":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema4"}},"kind":{"type":"string","enum":["ValueQualifier","ConceptQualifier","TemplateQualifier"]},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"valueId":{"anyOf":[{"$ref":"#/components/schemas/__schema4"},{"type":"null"}]}},"required":["type","valueType","supplementalSemanticIds","kind"],"additionalProperties":false}},"embeddedDataSpecifications":{"default":[],"type":"array","items":{"type":"object","properties":{"dataSpecification":{"$ref":"#/components/schemas/__schema4"}},"required":["dataSpecification"],"additionalProperties":false}},"extensions":{"default":[],"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"semanticId":{"anyOf":[{"$ref":"#/components/schemas/__schema4"},{"type":"null"}]},"supplementalSemanticIds":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema4"}},"valueType":{"anyOf":[{"type":"string","enum":["AnyUri","Base64Binary","Boolean","Byte","Date","DateTime","Decimal","Double","Duration","Float","GDay","GMonth","GMonthDay","GYear","GYearMonth","HexBinary","Int","Integer","Long","NegativeInteger","NonNegativeInteger","NonPositiveInteger","PositiveInteger","Short","String","Time","UnsignedByte","UnsignedInt","UnsignedLong","UnsignedShort"]},{"type":"null"}]},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"refersTo":{"default":[],"type":"array","items":{"$ref":"#/components/schemas/__schema4"}}},"required":["name","supplementalSemanticIds","refersTo"],"additionalProperties":false}},"value":{"anyOf":[{"$ref":"#/components/schemas/__schema4"},{"type":"null"}]}},"required":["idShort","displayName","description","supplementalSemanticIds","qualifiers","embeddedDataSpecifications","extensions"],"additionalProperties":false},"permissions":{"type":"array","items":{"type":"object","properties":{"permission":{"type":"string","enum":["Create","Read","Edit","Delete"]},"kindOfPermission":{"type":"string","enum":["Allow"]}},"required":["permission","kindOfPermission"],"additionalProperties":false}}},"required":["object","permissions"],"additionalProperties":false}}},"required":["targetSubjectAttributes","permissionsPerObject"],"additionalProperties":false}}},"required":["accessPermissionRules"],"additionalProperties":false}},"required":["localAccessControl"],"additionalProperties":false}},"required":["id","assetInformation","extensions","displayName","description","embeddedDataSpecifications","submodels","security"],"additionalProperties":false}}}}}}},"/templates/{id}/submodels":{"get":{"tags":["templates"],"summary":"Returns all Submodels of the templates","security":[{"apiKeyAuth":[]}],"parameters":[{"in":"path","name":"id","schema":{"description":"The id","example":"958b741c-c2ef-4366-a134-fafd30210ed4","type":"string"},"required":true,"description":"The id"},{"in":"query","name":"limit","schema":{"description":"The maximum number of elements in the response array","example":10,"type":"number"},"description":"The maximum number of elements in the response array"},{"in":"query","name":"cursor","schema":{"description":"A server-generated identifier retrieved from pagingMetadata that specifies from which position the result listing should continue","type":"string"},"description":"A server-generated identifier retrieved from pagingMetadata that specifies from which position the result listing should continue"},{"$ref":"#/components/parameters/OrganizationIdHeader"}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Submodels"}}}}}},"post":{"operationId":"createSubmodel","tags":["templates"],"summary":"Creates submodel for template","security":[{"apiKeyAuth":[]}],"parameters":[{"in":"path","name":"id","schema":{"description":"The id","example":"958b741c-c2ef-4366-a134-fafd30210ed4","type":"string"},"required":true,"description":"The id"},{"$ref":"#/components/parameters/OrganizationIdHeader"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"category":{"anyOf":[{"type":"string"},{"type":"null"}]},"idShort":{"type":"string"},"displayName":{"default":[],"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"]}},"description":{"default":[],"type":"array","items":{"type":"object","properties":{"language":{"type":"string","enum":["en","de"]},"text":{"type":"string"}},"required":["language","text"]}},"semanticId":{"a
[...]
